<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <th scope="row">{{ event.id }}</th>
            <td>{{ event.name }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.date }}</td>
            <td>
              <div class="d-flex justify-content-evenly flex-wrap">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-success"
                  (click)="editEvent(event)"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger"
                  (click)="removeEvent(event, content)"
                >
                  Delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <button class="btn btn-warning mt-5" (click)="addEvent()">
        new event
      </button>
    </div>
  </div>
</div>

<!-- delete dialog -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    Are you sure you want to proceed?
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('REMOVE')"
    >
      Delete
    </button>
  </div>
</ng-template>
